<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>

<body>
    <%- include('./partials/header')%>
    <br>
    <h3 class="center-align">Track Job Applications With Ease</h3>
    <br><br><br>
    <div class="row center-align">

        <div class="col s4">
            <img class="responsive-img"
                src="https://raw.githubusercontent.com/jcjv94/Application-Tracker/master/public/images/apply.png"
                alt="">
        </div>
        <div class="col s4">
            <img class="responsive-img"
                src="https://raw.githubusercontent.com/jcjv94/Application-Tracker/master/public/images/organize.png"
                alt="">
        </div>
        <div class="col s4">
            <img class="responsive-img"
                src="https://raw.githubusercontent.com/jcjv94/Application-Tracker/master/public/images/relax.png"
                alt="">
        </div>
    </div>
    <div class="row center-align">
        <h4 class="col s4">Apply</h4>
        <h4 class="col s4">Organize</h4>
        <h4 class="col s4">Relax</h4>
    </div>
    <br><br>
    <div class="center-align">
        <p id="homeText"> Add, store, update, and track your job applications. <br> Click log in to start!</p>
    </div>

</body>
<%- include('./partials/footer')%>

</html>