<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>

<body>
    <%- include('./partials/header')%>
    <br><br>
    <div class="valign-wrapper"></div>
    <div class="row center-align">

            <div class="col s4">
                <h4>Apply</h4>
                <br>
              <img class="responsive-img" src="https://raw.githubusercontent.com/jcjv94/Application-Tracker/master/public/images/apply.png" alt="">
            </div>
            <div class="col s4">
                <h4>Organize</h4>
                <br>
              <img class="responsive-img" src="https://raw.githubusercontent.com/jcjv94/Application-Tracker/master/public/images/organize.png" alt="">
            </div>
            <div class="col s4">
                <h4>Relax</h4>
                <br>
              <img  class="responsive-img"src="https://raw.githubusercontent.com/jcjv94/Application-Tracker/master/public/images/relax.png" alt="">
            </div>
      
          </div>
        </div>
</body>

</html>